* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

body {
  margin: 16px;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery-item {
  width: calc((100% - 2 * 24px) / 3);
}

/* list */
#categories {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item {
  background-color: #f6f6fe;

  width: 360px;
}

.item ul li {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 0 8px 16px;
}

/* task 3 */
#name-input {
  width: 360px;
  padding: 8px 0 8px 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

/* task 4 form */
.login-form {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form label input {
  display: flex;

  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.login-form button {
  margin-top: 16px;
  border-radius: 8px;
  padding: 8px 16px;
  border-color: transparent;

  background: #4e75ff;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

/* task 5 */
.widget {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.widget p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  background: #4e75ff;
  border-color: transparent;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
}
